<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>My Contact Details</title>
  <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body >

  <div class="containerContact">


    <h2 class="h2">Contact Details</h2>


    <p>Email : ruchitradersjalore@gmail.com</p>
    <p>Mobile No. : +91 7340531404</p>
    <p>Address : main road khetlawas,  jalore (Raj.) - 343022 </p>


 <form action="javascript:sendmail()" method="post">
  <label for="">Name : </label>
  <input type="text" id="Name" class="inputt" name="name" value="">
  <label for="">E-mail : </label>
  <input type="email" id="Sender" class="inputt" name="email" value="">
  <br>
  <label for="">Your massage : </label>
  <textarea name="name" id="Message" class="inputt" rows="8" cols="80"></textarea>
  <input class="submit hmm" type="submit" name=""   value="submit">
</form>


  </div>

  <footer>
    Made with ❤️ by HAJA RAM
  </footer>
  <script src="app.js" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://smtpjs.com/v3/smtp.js"></script>
  <script type="text/javascript">
  function sendmail(){

        var name = $('#Name').val();
        var email = $('#Sender').val();

        var message = $('#Message').val();

        // var body = $('#body').val();

        var Body='Name: '+name+'<br>Email: '+email+'<br>Message: '+message;
        //console.log(name, phone, email, message);

        Email.send({
          SecureToken:"81b7e21a-a301-4c59-ae0a-012bf60b8f18",
          To: 'ruchitradersjalore@gmail.com',
          From: "rtjalore@gmail.com",
          Subject: "New message on contact from "+name,
          Body: Body
        }).then(
          message =>{
            //console.log (message);
            if(message=='OK'){
            alert('Your mail has been send. Thank you for connecting.');

            }
            else{
              console.error (message);
              alert('There is error at sending message. ')

            }

          }
        );



      }
  </script>
</body>

</html>
