<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>My Contact Details</title>
  <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body >

  <div class="containerContact">


    <h2 class="h2">Contact Details</h2>


    <p>Email : ruchitradersjalore@gmail.com</p>
    <p>Mobile No. : +91 7340531404</p>
    <p>Address : main road khetlawas,  jalore (Raj.) - 343022 </p>


<form  action="mailto:hajaram969@gmail.com" method="post" enctype="text/plain">
  <label for="">Name : </label>
  <input type="text" class="inputt" name="name" value="">
  <label for="">E-mail : </label>
  <input type="email" class="inputt" name="email" value="">
  <br>
  <label for="">Your massage : </label>
  <textarea name="name" class="inputt" rows="8" cols="80"></textarea>
  <input class="submit" type="submit" name="" value="submit">
</form>


  </div>
  <footer>
    Made with ❤️ by HAJA RAM
  </footer>
</body>


</html>
